*{
    padding: 0;
    margin: 0;
}
.container{
  width: 100%;
  height: 100vh;
  /* background-image: url(/css/Road.jpg); */
  /* background-position: center center;
  background-repeat: no-repeat; */
  background-size: cover;
}
.box1{
  width: 25%;
  padding: 15px;
  padding-bottom: 50px;
  float: left;
  margin-left: 10%;
  margin-top: 10%;
  text-align: center;
  border: 1px solid gray;
  border-radius: 25px;
  box-shadow: 1px 5px 50px #454345;
}
.box1 h1{
  margin: 10% auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box1 h2{
margin: 20px;
}

.box{
  width: 50%;
  height: 100vh;
  background-color: rgba(44, 44, 63, 0.721);
  float: right;
}
.content{
  margin-left: 10%;
}
input{
  margin-bottom: 15px;
}
a{
  text-decoration: none;
  color: white;
}
.area{
  background-color: transparent;
  width: 80%;
  height: 20px;
  border: 1px solid gray;
  border-radius: 2px;
  color: white;

}
.heading{
  margin: 25px 10%;
}
h6{
  color: aqua;
}
.btn input{
  width: 80%;
  border: 1px solid #3498db;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 1px;
  -webkit-box-shadow: 2px 2px 7px #454345;
  -moz-box-shadow: 2px 2px 7px #454345;
  box-shadow: 2px 2px 7px #454345;
  font-family: Courier New;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn input:hover {
  background: #afcde0;
  background-image: -webkit-linear-gradient(top, #afcde0, #5d849e);
  background-image: -moz-linear-gradient(top, #afcde0, #5d849e);
  background-image: -ms-linear-gradient(top, #afcde0, #5d849e);
  background-image: -o-linear-gradient(top, #afcde0, #5d849e);
  background-image: linear-gradient(to bottom, #afcde0, #5d849e);
  text-decoration: none;
}
