@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::before {
    background: url('..images/pexels.jpg') top center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.8;
}

.container {
    text-align: center;
    width: 100%;
    height: 100vh;
}

.main-box {
    display: inline-block;
    position: relative;
    top: 30%;
    left: 4%;
    text-align: start;
    color: white;
}

.email {
    position: relative;
    margin: 20px;
    padding: 2px;
    font-size: larger;

}

.email input {
    position: relative;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
}

.form_email {
    position: absolute;
    top: 0.6rem;
    left: 3rem;
}

.password {
    position: relative;
    margin: 20px;
    padding: 2px;
    font-size: larger;

}

.password input {
    position: relative;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    font-size: large;
    color: white;
}

.form_password {
    position: absolute;
    top: 0.6rem;
    left: 3rem;
}

h1 {

    font-family: 'Supermercado One', Courgette;
    color: white;
}


.btn {
    font-weight: 100;
    background: #b68cde;
    background-image: -webkit-linear-gradient(top, #b68cde, #9530c7);
    background-image: -moz-linear-gradient(top, #b68cde, #9530c7);
    background-image: -ms-linear-gradient(top, #b68cde, #9530c7);
    background-image: -o-linear-gradient(top, #b68cde, #9530c7);
    background-image: linear-gradient(to bottom, #b68cde, #9530c7);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Courier New;
    color: #dedade;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: #6f5a78;
    background-image: -webkit-linear-gradient(top, #6f5a78, #3b2f40);
    background-image: -moz-linear-gradient(top, #6f5a78, #3b2f40);
    background-image: -ms-linear-gradient(top, #6f5a78, #3b2f40);
    background-image: -o-linear-gradient(top, #6f5a78, #3b2f40);
    background-image: linear-gradient(to bottom, #6f5a78, #3b2f40);
    text-decoration: none;
}
