* {
    margin: 0;
    padding: 0;
}

.nav1 {
    width: 100%;
    height: 6vh;
    background-color: #c45f17;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav_sec1 {
    width: 50%;
    float: left;
    text-align: left;
}

.fix {
    width: 33%;
    margin: auto;

}

.left_socials a {
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.nav_sec2 {
    width: 50%;
    float: right;
    padding-right: 10%;
}

.right_tab {
    float: right;
    margin-left: 5px;
    margin-right: 5px;

}

.right_tab a {
    text-decoration: none;
    color: white;
    padding-left: 2rem;
}

.nav2 {
    width: 100%;
    display: block;
}

.rtu_logo {
    width: 75%;
    margin: auto;
}

.nav3 {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #c45f17;
    height: 50px;
    text-align: center;
}

.nav3_tab {
    padding-top: 10px;
}

.nav3 a {
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.slider {
    width: 100%;
}

.fixer {
    display: block;
    text-align: center;
}

.line_slider {
    width: 100%;
    padding-top: 2px;
    background-color: #c45f17e0;
}

.line_slider a {
    color: #fff;
}

.carousal {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    padding: 25px;
}

.boxer {
    width: 90%;
    height: 530px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.box_1 {
    width: 73%;
    margin-bottom: 5px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box_2 {
    width: 23%;
    height: 550px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #f4c1ca;
    border: 1px solid #e0e8f3;
    border-radius: 5px;
    float: right;
}

.box_2_scroll {
    height: 90%;
    min-width: 0px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.tab_1 {
    width: 30%;
    height: 250px auto;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-right: 20px;
    line-height: 20px;
    background-color: #b0b2b481;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    padding-left: 25px;
    padding-top: 15px;
}

.tab_1 h5 {
    text-align: center;
    margin-top: 20px;
}

.important_links {
    text-align: center;
    margin-top: 50px;
}

.links_outer {
    text-align: center;
    display: flex;
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.link_box {
    box-shadow: 2px 2px 1px black;
    margin: auto;
    min-width: 180px;
    /* OR use (inline-size: 150px;) */
    height: 100px auto;
    padding: 15px;
    text-align: center;
    color: black;
    border: 1px solid #c9c9cb;
    border-radius: 5px;
    box-shadow: 3px 3px 20px -12px #454345;
}

.link_box:hover {
    cursor: pointer;
    color: #c45f17;
}

.link_box a {
    text-decoration: none;
    color: black;
    line-height: 3rem;
}

.counter_box {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.co_box {
    margin-top: 5px;
    width: 15%;
    border: 1px solid black;
    margin-top: 20px;
    
}
.round_icon{
    border: 1px solid black;
    border-radius: 25px;
    width: 28%;
    background-color: rgb(75, 93, 115);
    margin-left: auto;
    margin-right: auto;
}