*,
body {
    margin: 0;
    padding: 0;
}

.mt_1 {
    margin-top: 1rem !important;
}

.mt_1_5 {
    margin-top: 1.5rem !important;
}

.mt_2 {
    margin-top: 2rem !important;
}

.mt_3 {
    margin-top: 3rem !important;
}

.m_tb_1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.m_tb_2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.m_tb_3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.p {
    padding: 2rem;
}

.p_t_2 {
    padding-top: 2rem;
}

.p_l_1 {
    padding-right: 1rem !important;
}

.p_lr {
    padding-right: 1rem;
    padding-left: 1rem;
}

.p_tb_1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.p_tb_2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.p_tb_3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.p_b_0 {
    padding-bottom: 0 !important;
}

.p_b_1 {
    padding-bottom: 1rem !important;
}

.p_b_3 {
    padding-bottom: 3rem !important;
}

.bg-org {
    background-color: #c45f17 !important;
}

.ml_3 {
    margin-left: 5rem;
}

.mr_1 {
    margin-right: 15rem;
}

.fja {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr_head {
    border-top: transparent !important;
    border-bottom: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border: 2px solid #284f75 !important;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.f_s {
    font-size: 25px;
}

.card_res {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 270px !important;
    word-wrap: break-word;
    background: #efefef;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left: 5px;
    padding: 2rem;
}

.card_res ul {
    list-style: none;
    padding-left: 0px !important;
    font-size: small;
}

.card_res ul li {
    padding-bottom: 0.2rem !important;
    color: #4d5c6f;
}

.card_4box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 301px !important;
    height: 210px !important;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

/* .card_4box::before{
    background-image: url(/img/event1.jpg);
} */

.pos_text {
    position: relative;
    bottom: 8rem !important;
}

.pos_p {
    position: relative;
    bottom: 8rem;
    left: 0.5rem !important;
}

.c_orng {
    color: #c45f17;
}

.c_fff {
    color: #fff;
}

.c_black {
    color: black;
}

.box_2_scroll {
    height: 430px !important;
    min-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 2px solid brown;

}

.h-auto {
    height: auto !important;
}

.bg-blue {
    background-color: #284f75;
}

.decor a {
    text-decoration: none;
    color: white;
}

.decor_black a {
    text-decoration: none !important;
    color: #fff !important;
    margin: 1rem !important;

}

.img_class {
    /* width: 65% !important; */
    height: 250px !important;
    border: 5px solid white !important;
    border-radius: 3px !important;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.486) !important;
}

.p_relative {
    position: relative;
}

.round_icon {
    border: 1px solid #172636 !important;
    border-radius: 100px !important;
    width: 80px !important;
    height: 80px !important;
    background-color: #20364d !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 5px !important;
    color: white !important;
}

.link_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 2px 2px 1px black;
    height: 100px auto;
    min-width: 200px;
    margin: 5px !important;
    padding: 35px 1px;
    text-align: center;
    color: black;
    border: 1px solid #c9c9cb;
    border-radius: 5px;
    box-shadow: 3px 3px 20px -12px #454345;
}

.link_box a {
    text-decoration: none !important;
    color: black !important;
}

.link_box a:hover {
    cursor: pointer !important;
    color: #ffa22b !important;
}

.link_box i {
    background: linear-gradient(111.7deg, #1c0fe0 19.9%, #f3335a 95%);
    -webkit-background-clip: text;
    color: transparent;
}

.footer {
    background-image: url(/img/background_footer_img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.foot_2 {
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.co_box h5,
.co_box h2 {
    color: white;
}

.box_end {
    height: 50px;
    width: 50px;
    border-radius: 3px;
    /* position: sticky; */
    bottom: 61px;
    left: -1096px;
    color: white;
}

.hr_foot {
    border: 2px solid #d5502b;
    color: #d5502b !important;
    width: 75px !important;
}

.fourdiv h4 {
    color: #4b5d73;
}

.bord {
    border: 1px solid #c45f17;
    background-color: #c45f17;
    border-radius: 3px;
    padding: 5px 15px;
}

.bottom_1 {
    bottom: 10px !important;
}

.end_1 {
    right: 10px !important;
}

/* .shade{
        background-color: linear-gradient(45deg, red 0 50%, blue 50% 100%);
        transform: scale(1.1);
        transition: transform ease-out 0.4s;
        transition: transform ease-in 0.4s;
} */
.fourdiv a {
    text-decoration: none;
    color: #7d96b1;

}

.fourdiv a:hover {
    color: #d5502b;
}

.footer_icon {
    box-shadow: 3px 1px 25px;
    border-radius: 100px;
    width: 27px;
    height: 27px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);

}
.head_footer_icon{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.social_link {
    width: 150px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: scale(1);
}

.social_link a,
.wid_nav a {
    text-decoration: none;
}

.social_link a,
.social_link a i,
.wid_nav a i,
.wid_nav a {
    color: #fff;

}

.wid_nav {
    width: 400px auto;
}
.wid_nav a{
    margin-right: 1rem !important;
    font-size: 15px;
}
.back-to-top:hover {
    background: #fff;
    color: #c45f17;
    border: 2px solid #c45f17;
}

.back-to-top:hover i {
    color: #c45f17;
}

.back-to-top i {
    color: #fff;
    transform: scale(1.2);
    padding: 0.5rem 2px;
}

.footer a:hover {
    color: none;
}

/* .img_fourbox:hover {
    opacity: 1;
} */

.blue_btn {
    color: white;
    background-color: #362ae8;
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 1.09rem;
    width: 10rem;
    font-weight: 400;
}

.blue {
    color: rgb(40 79 117);
}

.orange_btn {
    background-color: #c45f17;
    border: 1px solid #c45f17;
    border-radius: 5px;
    color: white;
    max-width: 6rem;
    margin-left: 10px;
}



@media only screen and (max-width: 4760px) {

    .img_id_1,
    .img_id_2,
    .img_id_3 {
        width: 400px !important;
        text-align: center !important;
    }
}

@media (min-width:769px) {
    #img_id_1 {
        position: relative !important;
        float: left;
    }

    #img_id_2 {
        position: relative !important;
        bottom: 36%;
        left: 27%;
    }

    #img_id_3 {
        position: absolute !important;
        top: 39%;
        left: 10%;
    }

    #head_in {
        display: none;
    }
}

@media (max-width: 500px) {
    .nav_2 {
        display: none;
    }

    .social_link {
        display: block;
    }

    .co_box {
        margin-bottom: 1rem !important;
    }

    .box_2 {
        margin-top: 1rem !important;
    }

    #head_out {
        display: none;

    }
    #nav_1{
        width: 50% !important;
        float: left;
    }
    #nav_2{
        width: 50% !important;
        float: right;
    }

    #head_in {
        display: block;
    }
}
