body{
    background-color: powderblue;
}
hr{
    width: 90vw;
    border-style: none;
    background-color: powderblue;
    border-top: 3px dotted gray;
}
h1, h3{
    color: darkcyan;
    text-shadow: 1px 1px rgba(24, 23, 23, 0.418);
}