body{
    margin: 0;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
    font-family: 'Supermercado One', Sacramento;
    font-size: 5rem;
    margin: 50px auto 0 auto;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
hr{    
    border: none;
    border-top: 7px dotted #686969;
    margin: 100px auto;
    width: 5%;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.top-container{
    max-width: 100%;
    position: relative;
    background-color: #EAF6F6;
    padding-top: 100px;
    align-content: center;
    
}
.middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
}
footer{
    background-color: #66BFBF;
  padding: 50px 0 20px;
}
footer p{
    color: #EAF6F6;
    font-size: 12px;
}
footer ul a i{
    display: inline-block;
    margin: 1rem;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.intro {
    width: 30%;
    margin: auto;
}
p {
    line-height: 2;
}
.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}
div p{
    color: #40514E;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }
.skill{
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}
.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  
.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
