*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Merriweather', serif;
    }
header{
    background-color: #EAF6F6;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.middle-container img{
    width: 150px; 
    height: 150px;

}
footer{
    display: block;
    background-color: #66BFBF;
    position: relative;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
}
footer p{
    color: #EAF6F6;
    font-size: 12px;
}
footer ul a i{
    display: inline-block;
    margin: 1rem;
}
a{
    color: #11999E;
}
h1{
    color: #66BFBF;
    font-family: 'Supermercado One', Sacramento;
    font-size: 80px;
    line-height: 3;
}
h2{
    color: #66BFBF;
    line-height: 1rem;
    font-weight: 900;
    font-size: xx-large;
    /* font-family: 'Supermercado One', Baloo Bhai 2; */
}
h3{
    color: #11999E;
    /* font-family: 'Supermercado One', Baloo Bhai 2; */
}
hr{    
    border: none;
    border-top: 7px dotted #686969;
    margin: 0 auto;
    width: 5%;
}
button{
    padding: 5px 20px;
    background-color: #11999E;
    color: white;
    border: 1px solid #66BFBF;
    border-radius: 5px;
    font-size: larger;
}
div p{
    color: #40514E;
}
#top-cloud{
    position: absolute;
    top: 25px;
    right: 300px;
}
#cloud{
    position: absolute;
    left: 300px;
}
.mountain{
    position: absolute;
    bottom: 0px;
    width: 30%;
    height: 25%;
    left: 30%;
}
.skill{
    justify-content: center;
    /* position: relative; */
    /* display: flex; */
    width: 70%;
    margin: 0 auto;
}
